body {
    background-color: black;
}



.btn-primary {
    color: red;
    justify-content: space-between;
    
}
p {
    color: blueviolet;
    text-align: center;
}
.d-grid {
    margin-bottom: 100px;
    
   
{
